@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Oxygen:wght@700&family=Poppins:wght@300;400;700&family=Raleway:wght@100;400&family=Source+Sans+Pro:wght@400;700;900&display=swap');

$primary : #0056D2;
$blue : rgb(0, 37, 93);
$black : #1F1F1F;

.btn:hover {
    cursor: pointer;
}

.search_bar {
    display: flex;


    .dataResult{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 300px;
        position: absolute;
        top: 55px;
        background-color: #FFFFFF;
        border-radius: 5px;
        overflow: hidden;
        overflow-y: auto;
        .dataItem{
            text-decoration: none;
            font-weight: 600;
            color: #1F1F1F;
            margin-top: 20px;
            text-align: left;
            padding: 5px;
        }
        a:hover{
            background-color: aliceblue;
            
        }
    }

    .dataResult::-webkit-scrollbar{
        display: none;
    }

    .search {
        height: 2.5rem;
        width: 19.631875rem;
        padding: 0 0.625rem;
    }

    .search_icon {
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        border: 0;
        color: #ffff;
    }
}